/* Improve autodoc */

/* Changes for svg images */
svg {
    width: 100%;
    height: 50%;
}

svg .svg-line,
svg .svg-text {
    pointer-events: none;
}


/* Change navbar color */
.wy-nav-top,
.wy-side-nav-search {
    background:hsl(35, 100%, 55%) !important;
}
.version {
    color: rgba(255, 255, 255, 0.5) !important;
}

/* Change list behavior */

.rst-content li.toctree-l1 > a {
    background: hsla(35, 100%, 60%, 0.5) !important;
    position: relative;
    display: block;
    width: 40%;
    padding: .4em .4em .4em 2em;
    margin-top: .4em;
    margin-bottom: .4em;
    border-radius: .3em;
}

.rst-content li.toctree-l2 > a {
    background: hsla(35, 100%, 80%, 0.5) !important;
    position: relative;
    display: block;
    font-size: x-small;
    width: 30%;
    padding: .1em .1em .1em 2em;
    margin-top: .3em;
    margin-bottom: .3em;
    border-radius: .3em;
}

.rst-content li.toctree-l3 > a {
    background: hsla(34, 100%, 92%, 0.5) !important;
    position: relative;
    display: block;
    font-size: x-small;
    width: 30%;
    padding: .1em .1em .1em 2em;
    margin-top: .3em;
    margin-bottom: .3em;
    border-radius: .3em;
}

.rst-content li > a:hover {
    background: hsla(35, 100%, 60%, 1) !important;
}

.rst-content li {
    list-style-type: none !important;
}

.rst-content li a,
.rst-content li a:visited {
    color: rgb(0, 0, 0);
}

/* Show reference in a box */
dl.class,
dl.function,
dl.exception,
dl.data {
    background: #f3f6f6 !important;
    border: 1px solid #D3D3D3 !important;
}


dl.class > dt {
    color: hsl(35, 100%, 45%) !important;
    background-color: hsla(35, 100%, 75%, 0.2) !important;
    border-top-color: hsl(35, 100%, 55%) !important;
}

/* Customized colors for attributes and methods */
dl.attribute > dt {
    background-color: hsla(135, 35%, 75%, 20%) !important;
    border-left-color: hsl(135, 50%, 50%) !important;
}

/* Remove attributes with no ids */
dl.attribute > dt:not([id]){
    display: none !important;
}

dl.method > dt {
    background-color: hsla(200, 35%, 75%, 20%) !important;
    border-left-color: hsl(200, 50%, 50%) !important;
}

/* Extend reference heads to the width */
dl.class dt,
dl.function dt,
dl.exception dt,
dl.data dt {
    width: 100% !important;
}

/* Improve box spacing */
dl.class dd,
dl.function dd,
dl.exception dd,
dl.data dd {
  margin: 0 !important;
  padding-left: 2em !important;
}

/* Remove namespace in reference, we know where we are thank you */
dl.class dt code.descclassname,
dl.function dt code.descclassname,
dl.exception dt code.descclassname,
dl.data dt code.descclassname {
    display: none !important;
}
